body{
    font-family: 'Lilita One', cursive;
}

a{
    text-decoration: none;
    color: black;
}

nav.menu{
    background-color: aquamarine;
}
nav.menu ul{
    list-style-type:"💀" ;
    padding: 0;
    list-style-position: inside;
}

nav.menu ul a{
   padding: 5px;

}

nav.menu ul li{
    margin-bottom: 1rem;
}
nav.menu ul a:hover{
    color: rgb(220, 119, 196);
    background-color: rgb(137, 11, 255);
}
h2,h3{
    text-transform: uppercase;
    text-align: center;
}