nav.menu{
    display: inline-block;
}

nav.menu ul{
    list-style-type: none;
    margin: 0;
    padding: 1rem;
    background-color: aqua;
    display: none;
}

nav.menu:hover ul{
    display: block;
    cursor: pointer;
   
}
nav.menu button{
    display: inline-block;
    
}

nav.menu a:hover{
background-color: blueviolet;

color: wheat;

}
nav.menu a{
    text-decoration: none;
}

nav.menu li{
    padding-bottom: 10px;
}