nav.menu li{
    background-color: rgb(45, 40, 40);
}

nav.menu > ul > li{
    color: aqua;
} 
nav.menu  > ul > ul> li{
    color: rgb(255, 0, 170);
} 
nav.menu  > ul > ul> li:last-child{
    color: rgb(68, 0, 255);
    text-decoration: underline;
    font-weight: bolder;
    font-size: 2rem;
    background-color: brown;
} 

nav.menu +p{
    color: blue;
}
.div-el +p{
    font-size: 1.2rem;
    color: blueviolet;
}
.div-el >p{
    font-size: 1.2rem;
    color: rgb(226, 43, 70);
}

nav.menu ~p{
    font-size: 2rem;
}

nav.menu > ul > li:nth-child(2) ~li{
    color: blueviolet;
}