.border-1{
    border: 3px dashed red;
}

.border-2{
    border-left: 3px groove blue;
    border-top:6px double aqua;
    padding: 1rem;
}

.border-3{
    border: 12px outset purple;

}
.border-4{
 border: 12px inset purple;
 border-radius: 10px 20px 0 35px;
 -webkit-border-radius: 10px 20px 0 35px;
 -moz-border-radius: 10px 20px 0 35px;
 -ms-border-radius: 10px 20px 0 35px;
 -o-border-radius: 10px 20px 0 35px;
}
.border-5{
    border: 12px double green;
    padding: 15px;
    margin: 10px;
    text-align: center;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    border-style: ridge;
}