body{
    background-image: url(../img/pexels-wilson-vitorino-14528190.jpg);
    background-repeat: no-repeat;

    background-position: top center;
    height: 100vh;
    padding: 40px;
    background-size:1000px 800px;
    
}

.banner-1{
    background-image: url(../img/nature\ \(1\).jpg);
    height: 40vh;
    background-size: cover;
    background-position: center center;
}

.banner-2{
    background-image: url(../img/nature\ \(1\).jpg);
    height: 30vh;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}